@use 'variables';

.product-item {
    width: fit-content;
    max-width: 95%;
    height: fit-content;
    margin: 1rem;
    text-align: center;
    border: 5px var(--dark) solid;
    border-radius: 15px;
    padding: 1rem;
    justify-content: center;
    display : flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;

    .header{
        padding-top : 0.4rem;
        padding-bottom: 1rem;
        display : flex;
        flex-wrap: wrap;
        flex-direction: column;

        .title{
            font-size: 1.2rem;
            text-align: center;
        }
    }

    .image{
        img{
            padding: 15px;
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin: auto;
        }
    }

    .content{
        display : flex;
        flex-wrap: wrap;
        flex-direction: column;
        .price{
            text-align: center;
            color: var(--dark);
            width: fit-content;
            margin: auto;
            margin-bottom: 0.5rem;
        }

        .desctription{
            text-align: center;
        }
    }

    .actions{

    }
}


.products-preview{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-list{
    margin: auto;
    padding: 0;
    width: 60%;
    display: flex;
    list-style-type: none;
}
.product-list__item{
    width: 20%;
    height: fit-content;
    margin: 10px;
    padding: 10px;
}
.product-list__item__image{
    height: 100%;
    width: 100%;
    object-fit: contain;

}
.product-list__item__title{
    text-align: center;
    font-size: 1.2rem;
    margin: 0.5rem;

}
.product-list__item__price{
    text-align: center;
}

.product-form {
    @extend .product-item;
    width: 20rem;
    max-width: 90%;
    margin: auto;
    input, select, textarea{
        border: 1px solid var(--dark);
        border-radius: 5px;
        text-align: center;
        font-size: 1.2rem;
    }
    label{
        font-size: 1.2rem;
        padding: 5px;
        width: fit-content;
        margin:auto;
    }

    .form-control{
        margin: 0.5rem 0;
        display: block;
        padding: 10px;
    }
    .header{
        label{
            font-size: 1.2rem;
            padding: 5px;
        
        }
    }
    .image{
        img{
            display: none;
        }
        input{
            display: none;
        }
        label{
            margin: auto;
            width: fit-content;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--dark);
            border-radius: 5px;
            cursor: pointer;
        }
    }
}