@use 'variables';

h1{
    text-align: center;
    color: var(--dark);
    }
.product-item {
    width: 300px;
    height: 600px;
    max-width: 95%;
    margin: auto;
    padding: 1rem;
    margin: 1rem;

    border: 5px var(--dark) solid;
    border-radius: 15px;
    
    text-align: center;
    justify-content: center;
    display : flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;

    .header{
        padding-top : 0.4rem;
        padding-bottom: 1rem;
        display : flex;
        flex-wrap: wrap;
        flex-direction: column;

        .title{
            font-size: 1.2rem;
            text-align: center;
        }
    }

    .image{
        img{
            padding: 15px;
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin: auto;
        }
    }

    .content{
        display : flex;
        flex-wrap: wrap;
        flex-direction: column;
        .price{
            text-align: center;
            color: var(--dark);
            width: fit-content;
            margin: auto;
            margin-bottom: 0.5rem;
        }

        .desctription{
            text-align: center;
        }
    }

    .actions{

    }
}
.products-preview{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-list{
    margin: auto;
    padding: 0;
    width: 60%;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
}
.product-form {
    @extend .product-item;
    width: fit-content;
    height: fit-content;
    input, select, textarea{
        border: 1px solid var(--dark);
        border-radius: 5px;
        text-align: center;
        font-size: 1.2rem;
    }
    label{
        font-size: 1.2rem;
        padding: 5px;
        width: fit-content;
        margin:auto;
    }

    .form-control{
        margin: 0.5rem 0;
        display: block;
        padding: 10px;
    }
    .header{
        label{
            font-size: 1.2rem;
            padding: 5px;
        
        }
    }
    .image{
        img{
            display: none;
            max-width: 200px;
        }
        input{
            display: none;
        }
        label{
            margin: auto;
            width: fit-content;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--dark);
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.product-details{
    display: flex;
    justify-content: space-between;
    margin: 0 20%;
    h1{
        text-align: center;
    }

    .product-item{
        height: fit-content;
    }
    .product-actions{
        height: fit-content;
        margin: auto 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-flow: column;
        gap: 2rem;
        button{
            padding :10px;
            width: 200px;
        }
    }
}