<form action="/cart" method="post">
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
    <% if (typeof added !== 'undefined') {%>
        <p class="success">Product added to cart</p>
    <% } %>
    <script>
        window.onload = function() {
            setTimeout(function() {
                document.querySelector('.success').style.display = 'none';
            }, 2000);
        };
    </script>
</form>