<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <div class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            
            <% if (isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/secret' ? 'active' : '' %>" href="/secret">Secret</a>
                </li>
            <% } %>
        </div>
        <div class="main-header__item-list__login">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </div>
    </nav>
</header>
