<div class="search" style="margin: auto;width: fit-content;">
    <input style="width: 250px; height: 2rem;font-family: Arial, Helvetica, sans-serif; border-radius: 5px;" name="searchName" type="text" value="">
    <button class="btn" type="submit">Search</button>
</div>