<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div style="text-align: center;height: 100%;vertical-align: middle;padding:100px">
        <h1>Developer Contacts</h1>
        <h2>Email: teodoro@capacchione.eu</h2>
        <h2>Phone: +44 7392738059</h2>
    </div>
    

<%- include('includes/end.ejs') %>