<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <section class="order-cookie">
            <h2 class="order-cookie__heading">
                A MILLION FREE COOKIES!
            </h2>
            <form class="order-cookie__form">
                <input class="order-cookie__image" type="image" src="images/cookie.png" width="300px" height="300px" alt="submit" >
            </form>
            <h2 class="order-cookie__heading">
                Only 45.212 left!
            </h2>
        </section>
        <section class="products_preview">
        </section>
    </main>
<%- include('includes/end.ejs') %>