@import 'variables.css';

.login-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}
.account-title {
  text-align: center;
  margin-bottom: 1rem;
}

.account-data {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  border: 1px solid var(--dark);
  border-radius: 3px;
  padding: 20px;
}
.account-data__heading {
  text-align: center;
}
.account-data__email {
  margin-bottom: 1rem;
  text-align: center;
}