@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
:root {
  --secondary: #436850;
  --light: #FBFADA;
  --dark: #12372A;
  --error:#ff3209;
  --error_background:#ffdb80;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.main-header {
  width: 100%;
  height: 6rem;
  background-color: var(--dark);
  display: flex;
  align-items: center;
}
.main-header nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.main-header nav .item-list, .main-header nav .login {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: auto;
  margin-left: 5%;
  width: fit-content;
  justify-content: space-between;
}
.main-header nav .item-list .item, .main-header nav .login .item {
  margin: 0 1rem;
  padding: 0;
}
.main-header nav .item-list .item a, .main-header nav .item-list .item button, .main-header nav .login .item a, .main-header nav .login .item button {
  font: inherit;
  font-size: 2rem;
  background: transparent;
  border: none;
  text-decoration: none;
  color: var(--light);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
}
.main-header nav .item-list .item a:hover, .main-header nav .item-list .item a:active, .main-header nav .item-list .item a.active, .main-header nav .item-list .item button:hover, .main-header nav .item-list .item button:active, .main-header nav .item-list .item button.active, .main-header nav .login .item a:hover, .main-header nav .login .item a:active, .main-header nav .login .item a.active, .main-header nav .login .item button:hover, .main-header nav .login .item button:active, .main-header nav .login .item button.active {
  color: var(--dark);
  background-color: var(--light);
  padding: 10px;
}
.main-header nav .item-list .item a img, .main-header nav .item-list .item button img, .main-header nav .login .item a img, .main-header nav .login .item button img {
  margin: 0;
  display: block;
  width: 2.7rem;
  height: auto;
  vertical-align: middle;
}
.main-header nav .login {
  margin-right: 5%;
  margin-left: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid var(--dark);
  color: var(--light);
  background: var(--dark);
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: var(--light);
  color: var(--dark);
}

.btn.danger {
  color: var(--error);
  border-color: var(--error);
}

.btn.danger:hover,
.btn.danger:active {
  background: var(--error);
  color: var(--dark);
}

.user-message--error {
  text-align: center;
  border-color: var(--error);
  background: var(--error_background);
  color: var(--error);
  width: fit-content;
  margin: auto;
  padding: 0.5rem;
}

.order-cookie {
  margin: auto;
  width: fit-content;
}

.order-cookie__form {
  margin: auto;
  height: fit-content;
  display: block;
}

.order-cookie__image {
  object-fit: cover;
  display: block;
  margin: auto;
}

.order-cookie__heading {
  text-align: center;
  color: var(--dark);
  font-size: 2.5rem;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
