<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <section class="order-cookie">
            <h2 class="order-cookie__heading">
                Order one for FREE!
            </h2>
            <form action="/order-cookie" method="post" >
                <input class="order-cookie__image" type="image" src="images/cookie.png" width="400px" height="400px" alt="submit" >
            </form>
            <h2 class="order-cookie__heading">
                Only 100 left!
            </h2>
        </section>
    </main>
<%- include('../includes/end.ejs') %>