<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <section class="confirm">
            <form action="/order-cookie" method="post" >
                <input type="number" value="1" name="cookieAmount">
                <input type="hidden" value="Matcha" name="cookieName">
                <input type="hidden" value="3.50£" name="cookiePrice">
                <input class="confirm-button" type="submit" value="confirm" alt="submit" >
            </form>
        </section>
    </main>
<%- include('../includes/end.ejs') %>